.wrapper {
    --search-boder-radius: 92px;
    --search-button-width: 52px;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px black;
}
.inner {
    height: 100%;
    width: 1150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
}

.search-container {
    border-radius: var(--search-boder-radius);
    border: 1.5px;
    display: flex;
    height: 46px;
    align-items: center;
    padding-left: 16px;
    position: relative;
    background-color: azure;

    input {
        flex: 1;
        height: 100%;
        padding-right: var(--search-button-width);
        color: var(--black);
        caret-color: var(--primary);
        background-color: transparent;
        font-size: 1.5rem;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        height: 28px;
        background-color: black;
        width: 1px;
        right: var(--search-button-width);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.search-result {
    width: 365px;
}

.clear-btn,
.loading {
    position: absolute;
    background-color: transparent;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    &:hover {
        cursor: pointer;
    }
}
